* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(218, 28%, 13%);
}

header {
    min-height: 70px;
    background-color: hsl(218, 28%, 13%);
    margin-top: 50px;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;  
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    text-transform: capitalize;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

nav ul {
    padding-top: 1.5em;
    display: flex;
}

li {
    list-style: none;
    margin-left: 1em;
}

.contain {
    text-align: center;
}

.contain h1{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 2rem;
}

.contain p {
    color: #ffccff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 40px;
    line-height: 2rem;
}

.conny {
    margin-top: 45px;
}

.term {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding: 15px 80px;
    text-align: center;
    font-size: 18px;
    border-radius: 25px;
    background-color: hsl(176, 68%, 64%);
    color: #fff;
}

.flex {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
}

.flex_1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}

.flex_2 {
    padding-top: 15px;
    color: hsl(0, 0%, 100%);
}

.dine {
    color: #ffccff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 2rem;
}

.han {
    margin-top: 120px;
}

.flex-1 {
    display: flex;
}

.flex-2 {
    margin-left: 50px;
    margin-top: 70px;
}

.flex-2 h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
    line-height: 3rem;
}

.flex-2 p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding-top: 10px;
    font-size: 17px;
    color: #ffccff;
    line-height: 2rem;
}

.attri {
    color: hsl(0, 0%, 100%);
}

.asta {
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.asta_1 {
    background-color: hsl(219, 30%, 18%);
    width: 40%;
    margin: 1%;
    padding: 20px;
    margin-top: 30px;
    width: 35%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.flat {
    display: flex;
    margin-top: 20px;
}

.asta_1 p {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 15px;
    line-height: 2rem;
}

.flat img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 15px;
    margin-right: 10px;
}

.flat h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin-top: 15px;
    color: #ffffff;
    font-size: 15px;
}

.flat small {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

.center {
    text-align: center;
    position: relative;
    bottom: -13em;
}

.box {
    background-color: hsl(219, 30%, 18%);
    border-radius: 15px;
    margin: 40px 0;
    padding: 60px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.box h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
    line-height: 2em;
}

.box p {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 2rem;
}

.small-box {
    display: inline-block;
}

.nin {
    margin-top: 40px;
}

input {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    width: 500px;
    outline: none;
}

.tons {
    border-radius: 50px;
    background-color: hsl(176, 68%, 64%);
    padding: 10px 30px 10px 30px;
    color: #fff;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    margin-left: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    outline: none;
}

footer {
    background-color: hsl(216, 53%, 9%);
    color: #fff;
    padding: 100px 0 10px 0;
    z-index: 0 !important;
}

.lg {
    margin-top: 120px;
}

footer ul {
    list-style: none;
}

footer ul {
    padding-top: 30px;
}

footer a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #fff;
}

footer .attribution {
    font-size: 20px;
    padding-top: 30px;
    font-family: 'Open Sans', sans-serif;
}

.toy1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.togy {
    line-height: 2rem;
}

a:hover {
    text-decoration: none;
}

/** Media Query **/

@media (max-width: 375px) {
    .container {
        max-width: 100%;
    }

    .container-nav {
        flex-direction: column;
    }

    header a {
        font-family: 'Raleway', sans-serif;
        text-decoration: none;
        color: hsl(0, 0%, 100%);
        text-transform: capitalize;
        font-size: 13px;
        font-weight: 700;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav li {
        font-size: 1.3rem;
        margin: .4em 0;
    }

    .branding {
        max-width: 50%;
        margin-left: 4.5em;
    }

    .branding img {
        width: 100%;
    }

    .con {
        max-width: 100%;
    }

    .con img {
        width: 100%;
    }
    
    .contain {
        text-align: center;
    }
    
    .contain h1{
        font-family: 'Raleway', sans-serif;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        line-height: 2em;
    }
    
    .contain p {
        color: #ffccff;
        font-family: 'Open Sans', sans-serif;
        font-size: .67rem;
        font-weight: 700;
        margin-top: 20px;
        line-height: 2em;
    }

    .conny {
        margin-top: 20px;
    }
    
    .term {
        padding: 10px 70px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        border-radius: 25px;
        background-color: hsl(176, 68%, 64%);
        color: #fff;
    }

    .flex {
        display: block;
        margin-top: 50px;
        align-items: center;
    }

    .flex_1 img {
        margin: 20px 0;
    }

    .flex_1 h3 {
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight: 700;
    }

    .flex_1 p {
        font-family: 'Open Sans', sans-serif;
        font-size: .7rem;
        font-weight: 700;
    }

    .flex-1 {
        display: block;
    }

    .han {
        margin-top: 40px;
    }

    .flex-2 {
        margin: 40px auto;
    }

    .flex-2 h1 {
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight:700;
    }

    .flex-2 p {
        font-family: 'Open Sans', sans-serif;
        font-size: .7rem;
        line-height: 2em;
        
    }

    .attri {
        color: hsl(176, 68%, 64%);
    }

    .asta {
        margin-top: 40px;
        display: block;
        align-items: center;
    }

    .asta_1 {
        background-color: hsl(219, 30%, 18%);
        max-width: 100%;
        margin: 1%;
        padding: 20px;
        margin-top: 30px;
        width: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    .asta_1 p {
        font-family: 'Open Sans', sans-serif;
        font-size: .67rem;
        line-height: 2em;
    }

    .center {
        text-align: center;
        position: relative;
        bottom: -11em;
    }
    
    .box {
        background-color: hsl(219, 30%, 18%);
        border-radius: 15px;
        margin: 5px 0;
        padding: 20px;
        position: relative;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }
    
    .box h2 {
        color: #fff;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 2em;
    }
    
    .box p {
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: .67rem;
        font-weight: 700;
        line-height: 2em;
    }
    
    .small-box {
        display: block;
    }

    .nin {
        margin-top: 20px;
    }
    
    input {
        font-size: 18px;
        padding: 10px 20px;
        border-radius: 50px;
        border: none;
        width: 100%;
        outline: none;
    }
    
    .tons {
        border-radius: 50px;
        background-color: hsl(176, 68%, 64%);
        padding: 10px 30px 10px 30px;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
        border: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        margin: 20px auto;
        width: 100%;
        outline: none;
    }

    footer {
        background-color: hsl(216, 53%, 9%);
        color: #fff;
        padding: 50px 0 10px 0;
    }

    .lgg {
        max-width: 100%;
    }

    .lgg img {
        width: 50%;
        margin-top: 10rem;
    }
    
    footer ul {
        list-style: none;
        font-family: 'Open Sans', sans-serif;
        font-size: .67rem;
        font-weight: 700;
    }
    
    footer ul {
        padding-top: 20px;
    }
    
    footer a {
        text-decoration: none;
        color: #fff;
    }
    
    footer .attribution {
        font-family: 'Open Sans', sans-serif;
        font-size: 11px;
        padding-top: 20px;
        line-height: 1.7em;
    }

    .toy1 {
        display: block;
        font-size: 11px;
    }
}